html, body {
  height: 99%;
}

.chat {
  background: #fcc;
  margin: 10px 0;
}
.thread {
  background: #fea;
}
.channel {
  background: #afd;
}
.chat,
.thread,
.channel {
  padding: 2%;
  border-radius: 10px
}

@media ( min-width : 600px ){
  .flexbox {
    display: -webkit-flex;
    display: flex;
  }
  .chat {
    margin: 0 10px;
    -webkit-flex: 2;
    flex: 2;
  }
  .thread {
    -webkit-flex: 1;
    flex: 1;
  }
}

.main_msgs, .thread_msgs {
  height: 80%;
  overflow: auto;
}

.divide_thread {
  color: gray;
  font-size: small;
  margin-top: 0.5em;
  border-top: 1px solid gray;
}
.member {
  font-weight: bold;
  font-size: small;
}

.time {
  color: gray;
  font-size: x-small;
}

.reply {
  font-size: small;
  font-weight: bold;
  color: blue;
}